/*Sign up page styling*/

table, th, td {
    border: 1px solid black;
    /*border-collapse: collapse;*/
    background-color: white;
    padding: 10px;
}

table {
    border-radius: 10px;
    margin: 0px;
    position: relative;
    width: 90%;
    left: 5%;
}

th, td {
    margin: 0px;
}

tfoot td{
    text-align: right;
}

/*Alternating colors on the sign up table*/

th {
    background-color: rgb(112, 191, 255);
}

tr:nth-child(odd) td {
    background-color: rgb(163, 214, 255);
}

tr:nth-child(even) td {
    background-color: rgb(112, 191, 255);
}

.signUpButton {
   margin-left: auto; 
}

/*Inputs*/

#inputs{
    display: none;
    z-index: 6;
    background-color: aqua;
    padding: 0.5%;
    position: fixed;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 40px;
}

#inputs input[type="text"]{
    width: 80%;
    font-size: 1.1vw;
}

#extras{
    height: 4vw;
    font-size: 1vw;
}

#confirm{
    position: relative;
    margin-top: 0.2%;
    height: 2.5vw;
    width: 10vw;
}
  