/*Importing font*/

@font-face {
    font-family: 'Baloo';
    src: url('./BalooFont/Baloo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    background-color: rgb(234,234,234);
    font-family: 'Lucida Bright';
}

#bodySection {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

/*Header*/

#header{
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 10%;
    top:0%;
    left: 0%;
    z-index: 5;

    /*Vertically centers header items*/
    align-items: center;

    /*Old header styling*/
    /*background-image: linear-gradient(to bottom right, rgb(57,117,166), rgb(4,42,77));*/
    background-image: linear-gradient(to right, rgb(30, 109, 173), rgb(0, 61, 117));
}

.headerItem {
    color: white;
    font-size: 180%;
    font-weight: bold;
}

/*Styling for header items that link to other pages*/
a.headerLink {
    text-decoration: none;
    color: white;
}

/*Color darkens when hovered over*/
a.headerLink:hover {
    color: rgb(207, 207, 207);
}

#signinText:hover {
    color: rgb(207, 207, 207); 
}

#homePage{
    display: flex;
    margin: 0px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    cursor: pointer;
    top: -10%;
    width: 30%;
    height: 100%;
}
#homePage:hover {
    transform: scale(1.05);

}
#CITLogo{
    position: relative;
    left: 4%;
    height: 18%;
    width: 18%;
    margin: 1%;
}
#CITSignups{
    position: relative;
    top: 0%;
    left: 6.5%;
    font-weight:bolder;
    margin: 0px;
    font-size: 300%;
    font-family: 'Baloo'; 
    color: white;
    text-shadow: 3.5px 5px rgb(107,112,180), 7px 10px rgb(56, 60, 128);
}

#CITSignups:hover{
    color: rgb(235, 235, 235);
}

#calendarIcon {
    height: 5%;
    width: 5%;
    margin-left: auto;
}

#calendarText {
    /*Pushes "Calendar" and "Sign in" to the far right*/
    margin-left: auto;
}

#signinText {
    margin-left: 5%;
    margin-right: 5%;
}

/*Events*/

#events{
    position: relative;
    left: 10%;
    width: 80%;

    /*background-color: rgb(95, 174, 248);*/
}

.roundedBox {
    background-color: white;
    border-radius: 40px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2%;
}
